# certificate 
ca.crt
ca.key
issuer.crt
issuer.key

# monorepo
lint-staged.config.js
commitlint.config.js
.husky
# **/.circleci

# docker
Dockerfile
.dockerignore
docker-compose.yml

# test cache
.cache/*

# git
.git
.ignore
.gitignore

# vscode
.vscode

# kubernetes
.kube
k8s

# terraform
terraform

# node
**/node_modules
npm-debug.log

# developer files
README.md
_dev_notes
_productivity
_blog

# bundles
**/build
**/dist
# **/.next