# Developers can store local stuff in dirs named __something
__*

# credentials
gcp_service_account.json

# dependencies
**/node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# monorepo cache
.cache/*
!.cache/modules-sha

# testing
**/coverage

# production
**/build
**/dist/**

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Crash log files
crash.log
crash.*.log

# env files
.env*

# next.js
**/.next/
/out/

# vercel
**/.vercel

# typescript
**/.tsbuildinfo
next-env.d.ts

# Local .terraform files
**/.terraform/*
**/terraform/backend
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
# Ignore the plan output of command: terraform plan -out=tfplan
**/*.tfplan

# CLI configuration files
.terraformrc
terraform.rc

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# OSX
._*
.DS_Store

# JetBrains files
.idea/
*.iml

# Emacs files
*~
\#*\#
.\#*

# Vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# JUnit test output from ginkgo e2e tests
/junit*.xml

# Local cluster env variables
/cluster/env.sh

# User cluster configs
.kube/

.tags*

# Version file for dockerized build
.dockerized-kube-version-defs