@tailwind base;
@tailwind components;

@layer base {

  .text-default {
    color: var(--color-dark);
    letter-spacing: 0.5px;
  }

  html {
    @apply text-default;
  } 
}

:root {
  --color-primary: #14a33d;
  --color-primary-light: #17c649;
  --color-secondary: #13622a;
  --color-inverse: #fff2da;
  --color-inverse-soft: #f9f7f2;
  --color-accent: #a49b8a;
  --color-accent-soft: #bbb5a9;

  --color-dark: rgb(62, 58, 58);
  --color-dark-soft: rgb(168, 168, 168);

  --color-light: #ffffff;
  --color-light-soft: #c6c0b5;

  --color-error: rgb(221, 22, 22);

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800; 
  --font-weight-display: 900;
  --font-weight-btn: 600;

  --rounded-btn: 0.25rem;
}

/** purgecss start ignore */
/* .theme-dark {
  --color-bg-primary: #847543;
  --color-bg-secondary: #dcd0c0;
  --color-bg-default: #f4f4f4;
  --color-bg-inverse: #373737;

  --color-text-primary: rgb(246, 244, 244);
  --color-text-secondary: #927e7e;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: #fff;
  --color-text-inverse-soft: #bbb;

  --font-weight-normal: 400;
  --font-weight-bold: 800;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0;
} */
/** purgecss end ignore */

@tailwind utilities;