@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../../../packages/ui-lib/src/styles/ui-lib.css');

@font-face {
	font-family: 'Encode Sans';
	src: url('../../public/fonts/EncodeSans-VariableFont_wdth,wght.ttf');
}
@font-face {
	font-family: 'Onest';
	src: url('../../public/fonts/Onest-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Gras';
	src: url('../../public/fonts/RustyHooks-Regular.ttf');
}

@layer base {
	html {
		@apply text-dark;
	}

	body {
		@apply font-onest;
		-ms-overflow-style: none;
	}

	body::-webkit-scrollbar {
		display: none;
	}

	a * {
		cursor: pointer;
	}

	:root {
		--font-weight-normal: 400;
		--font-weight-semibold: 600;
		--font-weight-bold: 800;
		--font-weight-display: 900;
		--font-weight-btn: 600;

		--rounded-btn: 0.25rem;
	}

	/* .theme-dark {
    --color-bg-primary: #847543;
    --color-bg-secondary: #dcd0c0;
    --color-bg-default: #f4f4f4;
    --color-bg-inverse: #373737;

    --color-text-primary: rgb(246, 244, 244);
    --color-text-secondary: #927e7e;
    --color-text-default: #373737;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #bbb;

    --font-weight-normal: 400;
    --font-weight-bold: 800;
    --font-weight-display: 400;
    --font-weight-btn: 600;

    --rounded-btn: 0;
  } */
}

@layer utilities {
	.image-cropper {
		width: 100px;
		height: 100px;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
	}
	.profile-pic {
	  display: inline;
	  margin: 0 auto;
	  margin-left: -25%;
	  height: 100%;
	  width: auto;
	}

	.cursor-inherit {
		cursor: inherit;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.hide-scroll::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.hide-scroll {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
