---
---

@tailwind base;
@tailwind components;

:root {
    --spacing-unit: 30px;
    --content-width: 800px;

    --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --base-font-size: 16px;
    --base-font-weight: 400;
    --small-font-size: 14px;
    --base-line-height: 1.5;
    --text-color: #ffffff;
    --background-color: #022d25;
    --brand-color: #2a7ae2;
    --grey-color: #828282;
    --grey-color-light: lighten($grey-color, 40%);
    --grey-color-dark: darken($grey-color, 25%);
  }

  /**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    padding: 0 var(--spacing-unit);
    font: var(--base-font-weight) var(--base-font-size)/var(--base-line-height) var(--base-font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    margin-bottom: var(--spacing-unit) / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: var(--small-font-size);
}

/**
 * Lists
 */
ul, ol {
    margin-left: var(--spacing-unit);
}

li > ul,
li > ol {
    margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 9000;
}

/**
 * Links
 */
a {
    color: var(--brand-color);
    text-decoration: none;
}

a:visited {
    color: var(--brand-color-darkened);
}

a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
    color: var(--grey-color);
    border-left: 4px solid var(--grey-color-light);
    padding-left: var(--spacing-unit) / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}

blockquote > :last-child {
    margin-bottom: 0;
}

/**
 * Code formatting
 */
pre, code {
    font-size: 15px;
    border: 1px solid var(--grey-color-light);
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}

pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

  .page-content {
    padding: var(--spacing-unit) 0;
  }
  
    .wrapper {
        /* Calculate max-width using CSS variables */
        max-width: -webkit-calc(var(--content-width) - var(--spacing-unit));
        max-width: calc(var(--content-width) - (var(--spacing-unit) * 2));
        margin-right: auto;
        margin-left: auto;
        padding-right: var(--spacing-unit);
        padding-left: var(--spacing-unit);
    }

    /* Media query for laptop */
    @media screen and (min-width: 1024px) {
        .wrapper {
            max-width: -webkit-calc(var(--content-width) - var(--spacing-unit));
            max-width: calc(var(--content-width) - var(--spacing-unit));
            padding-right: calc(var(--spacing-unit) / 2);
            padding-left: calc(var(--spacing-unit) / 2);
        }
    } */

    /* Clearfix */
    .wrapper::after {
        content: "";
        display: table;
        clear: both;
    }
  
  .site-header {
    border-top: 5px solid var(--grey-color-dark);
    border-bottom: 1px solid var(--grey-color-light);
    min-height: 56px;
    position: relative;
  }
  
  .site-title {
    font-size: 26px;
    font-weight: 1000;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 0;
    float: left;
    color: var(--grey-color-dark);
  }
  
  .site-nav {
    float: right;
    line-height: 56px;
  }

  .breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .breadcrumb-item {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    margin: 0 5px;
  }
  
  /* Media query for palm */
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: var(--spacing-unit) / 2;
      background-color: var(--background-color);
      border: 1px solid var(--grey-color-light);
      border-radius: 5px;
      text-align: right;
    }
  
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
    }
  
    .menu-icon > svg {
      width: 18px;
      height: 15px;
    }
  
    .menu-icon > svg > path {
      fill: var(--grey-color-dark);
    }
  
    .trigger {
      clear: both;
      display: none;
    }
  
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
  
    .page-link {
      display: block;
      padding: 5px 10px;
      margin-left: 20px;
    }
  }
  
  .site-footer {
    border-top: 1px solid var(--grey-color-light);
    padding: var(--spacing-unit) 0;
  }
  
  .footer-heading {
    font-size: 18px;
    margin-bottom: calc(var(--spacing-unit) / 2);
  }
  
  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }
  
  .footer-col-wrapper {
    font-size: 15px;
    color: var(--grey-color);
    margin-left: calc(-1 * var(--spacing-unit) / 2);
  }
  
  .footer-col {
    float: left;
    margin-bottom: calc(var(--spacing-unit) / 2);
    padding-left: calc(var(--spacing-unit) / 2);
  }
  
  .footer-col-1 {
    width: calc(35% - var(--spacing-unit) / 2);
  }
  
  .footer-col-2 {
    width: calc(20% - var(--spacing-unit) / 2);
  }
  
  .footer-col-3 {
    width: calc(45% - var(--spacing-unit) / 2);
  }
  
  /* Media query for laptop */
  @media screen and (min-width: 1024px) {
    .footer-col-1,
    .footer-col-2 {
      width: calc(50% - var(--spacing-unit) / 2);
    }
  
    .footer-col-3 {
      width: calc(100% - var(--spacing-unit) / 2);
    }
  }
  
  /* Media query for palm */
  @media screen and (max-width: 600px) {
    .footer-col {
      float: none;
      width: calc(100% - var(--spacing-unit) / 2);
    }
  }
  
  .page-heading {
    font-size: 20px;
  }
  
  .post-list {
    margin-left: 0;
    list-style: none;
  }
  
  .post-list > li {
    margin-bottom: var(--spacing-unit);
  }
  
  .post-meta {
    font-size: var(--small-font-size);
    color: var(--grey-color);
  }
  
  .post-link {
    display: block;
    font-size: 24px;
  }
  
  .post-header {
    margin-bottom: var(--spacing-unit);
  }
  
  .post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
  }
  
  .post-content {
    margin-bottom: var(--spacing-unit);
  }
  
  .post-content h2 {
    font-size: 32px;
  }
  
  .post-content h3 {
    font-size: 26px;
  }
  
  .post-content h4 {
    font-size: 20px;
  }
  
@tailwind utilities;
  